body{
	background-color: grey;
	font-family: sans-serif;
	color: white;
}
h1{
	color:white;
}
.container{
	width:80%;
	margin:auto;
}

/*homepage form fill tällä laitoin formeihin välejä ymsmoms.*/

/*border: 3px black solid*/

.form{
	padding: 5px;
	
}
 /*button tyyli*/
.form input[type="submit"]{
	padding: 20px;
	color:#fff;
	background-color: #333;
	border-radius: 10px;
}
/*Navigointi bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	border-top-left-radius: 40px;
}

li {
    float: left;
	display: inline;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*tällä koitin jakaa sivut kolumneihin ja helpommin muotoiltavammaksi halutuksi*/
.content{
	display:flex;
	
}
.col{
	padding: 10px;
	flex:1;
	background-color:#33334d;
}

.colgreyleft{
	justify-content: space-around;
	padding: 10px;
	flex:1;
	background-color:#333;
	color: white;
	
}
.colgreyright{
	justify-content: space-around;
	padding: 10px;
	flex:1;
	background-color:#333;
	color: white;
	border-bottom-right-radius: 40px;
}
.contentlog{
	display:flex;
	flex-direction: column;
	
}

