{% extends 'layout.html' %}
{% block content %}
<div class="container">
	<form action="" method="post">
		<h4>Current password</h4>
		<div class="form-group">
			<input type="password" placeholder="Current password" name="old-password" value="">
		</div>	
		<h4>New password<h4>
		<div class="form-group">
			<input type="password" placeholder="New password" name="new-password" value="">
		</div>
		
		<input class="button" type="submit" value="Change Password" name="registerbtn">
					
		</form>
	
	{{ info.name}}
</div>
{% endblock %}