{% extends 'layout.html' %}
{% block content %}
<div class="user-settings">
	<form class="form" action="" method="post">
		<p>old password</p>
		<div class="form"><input type="password" placeholder="old password" name="old-password" value=""><br></div>	
		<p>new password</p>
		<div class="form"><input type="password" placeholder="new password" name="new-password" value=""><br></div>
		
		<input class="button" type="submit" value="Change Password" name="registerbtn">
					
		</form>
	
	{{ info.name}}
</div>
{% endblock %}