{% extends 'layout.html' %}
{% block content %}
<div class="container">
	
	<h1 class="page-header">{{ info.name }}</h1>
	<div class="container">
		<div class="row ">
			<div class="col-md-3">
				<p class="text-left">{{ info.location }}</p>
				<p class="text-left">{{ info.price }}</p>
				<p class="text-left">{{ info.category }}</p>
			</div>
			<div class="col-md-3">
				<p class="text">{{ info.description }}</p>
			</div>
			<div class="col-md-6">
				<img class="event-image" src="{{ info.image }}">
			</div>
		</div>
	</div>
	
	{% if info.user == current_user.id %}
	<h3>You are allowed to modify this</h3>
	{% endif %}
	
</div>
{% endblock %}