{% extends "layout.html" %}
{% block content %}

<body>
		<div class="jumbotron text-center">
			<div class="container">
				<h1>Welcome to Event Board</h1>
		
					
					
		
			</div>
		</div>
		<hr>
		
		{% if current_user.is_authenticated %}
		<h1>Hello {{ current_user.name }}! <!--- {{ current_user.id }}  {{ current_user.password }} --></h1>
		<br>
	<div class="container">	
		<div class="row">
			<div class="panel panel-primary col-md-6">
				<div class="panel-heading">
					<h3 class="panel-title">Here are your events:</h3></div>
				
				<div class="panel-body">
					{% for event in ownevents %}
					<li>{{ event.name }}, <a href="{{ url_for('event', eventurlid=event.urlid) }}">{{ event.urlid }}</a></li>
					{% endfor %}
				</div>
			</div>
				
			<div class="panel panel-primary col-md-6">
				<div class="panel-heading">
					<h3 class="panel-title">Here are pinned events:</h3></div>
				
				<div class="panel-body">
					{% for event in pinnedevents %}
					<li>{{ event.event }}</li>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>	
			{% else %}
	
	 <div class="container">
		<form  action="" method="post">
			<div class="form-group">
			<input type="text" placeholder="Username" name="username" value="{{ request.form.username }}"></div>
			<div class="form-group">
			<input type="text" placeholder="Email" name="email" value="{{ request.form.email }}"></div>
			<div class="form-group">
			<input type="password" placeholder="Password" name="password" value="{{ request.form.password }}"></div>
			<div class="form-group">
			<input  type="submit" value="Register" name="registerbtn"></div>
					
		</form>
		
	</div>
	<hr>
	{% endif %}
	<div class="container">
		<div class="row ">
			<div class="col-md-6">
				<p class="text-left">Lorem ipsum dolor sit amet, consecteturadipiscing elit. Curabitur tristique iaculis
				augue, sit amet vulputate neque dapibus eu. In hac habitasse platea dictumst. Phasellus dignissim lacinia
				nulla non cursus. Vivamus quis maximus lacus. Maecenas ac urna sit amet eros lacinia scelerisque at eu massa.
				Vivamus nec gravida dolor. Morbi ullamcorper, velit nec ultricies
				rhoncus, velit mauris vestibulum orci, non dapibus dolor lectus nec mi. Pellentesque sit amet magna commodo,
				rutrum sapien in, posuere lorem. Ut vel gravida dui. Sed</p>
			</div>
			<div class="col-md-6">
				<p class="text">Lorem ipsum dolor sit amet, consecteturadipiscing elit. Curabitur tristique iaculis
				augue, sit amet vulputate neque dapibus eu. In hac habitasse platea dictumst. Phasellus dignissim lacinia
				nulla non cursus. Vivamus quis maximus lacus. Maecenas ac urna sit amet eros lacinia scelerisque at eu massa.
				Vivamus nec gravida dolor. Morbi ullamcorper, velit nec ultricies
				rhoncus, velit mauris vestibulum orci, non dapibus dolor lectus nec mi. Pellentesque sit amet magna commodo,
				rutrum sapien in, posuere lorem. Ut vel gravida dui. Sed</p>
			</div>
		</div>
	</div>
			
	
	
	
</body>

{% endblock %}