{% extends "layout.html" %}
{% block content %}
<div class="home">This is home page
	<p>moi {{ current_user.name }} {{ current_user.id }}  {{ current_user.password }}</p>
	{% if current_user.is_authenticated %}
	<h1>IT IS VERY NICE YOU HAVE REGISTERED!</h1>
	{% else %}
	<h1>Register Form</h1>

	<form action="" method="post">
		<input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
		<input type="text" placeholder="Email" name="email" value="{{ request.form.email }}">
		<input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
		<input type="submit" value="Register">
	</form>
	{% endif %}
</div>
<img src="../static/media/index.jpeg" />
{% endblock %}