{% extends 'layout.html' %}
{% block content %}
	<div class="container">
		<form action="" method="post">
				<h2>Your current email<h2>
					<div class="form-group">
						<input type="text" placeholder="Email" name="email" value="{{ info.email }}">
					</div>
					<div class="form-group">
						<input class="button" type="submit" value="Submit Changes" name="registerbtn">
					</div>
						
		</form>
			<a href="{{ url_for('user_settings_change_password', username = current_user.name) }}" class="btn btn-default" role="button">Change your password here(ei tästä saatana saa millää samanlaista ku toi ylempi)</a>
						{{ info.name}}
						
	</div>
	{% endblock %}